header{
  text-align: justify;
  font-family: "Raleway", serif;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 135px;
  float:left;
  padding:15px 0;
}
nav{
}
nav.header{
    margin-left: 15%;
    margin-right: 15%;
}
nav.header .element{
    margin: 10px;
    text-align: center;
}
nav.section .element{
    margin:10px;
    text-align: center;
}
nav.section{
    margin-left: 15%;
    margin-right: 15%;
}
.btn-header {
    color: #fff;
    background: #000;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 10px;
}

.btn-header:hover {
    color: #b3b1b3;
    text-decoration: none;
}

.section-header{
    padding: 30px 10px 10px 10px;
    text-align: justify;
    font-family: "Raleway", serif;
    background-color: #cccccc;
  }

  .btn {
      color: #084B8A;
      background: #cccccc;
      padding: 10px 10px 10px 10px;
      text-decoration: none;
      font-size: 10px;
  }

  .btn:hover {
      background: #b3b1b3;
      text-decoration: none;
  }



  body {
    font-family: "Raleway", serif;
    font-size: 12px;
  }
  table {
    margin-left: 15%;
    margin-right: 15%;
  }
  h1.section{
    color: #000;
  }
  h1{
    color: #084B8A;
  }
  h2{
    color: #084B8A;
  }

  h3.section_title{
    padding-top: 10px;
    text-align: center;
    color: #084B8A;
  }



  .item{
    font-weight: bold;
    color: #084B8A;
    display: inline-block;
    vertical-align: middle;
  }
  .content{
    font-weight: lighter;
    display: inline-block;
    vertical-align: middle;
  }
  div{
    vertical-align: middle;
  }
  div:empty{
    height: 1.25em;
    line-height: 1.25;
  }
  .row{
      padding-left: 15%;
      padding-right: 15%;
  }
  .general-row{
    border-bottom: 1px solid #084B8A;
    padding: 10px;
  }

  .section-row{
    padding: 10px;
  }
  .col-20 {
    min-height: 1em;
    width: 100%;
    display: inline-block;
  }
  .col-25 {
    min-height: 1em;
    width: 100%;
    display: inline-block;
  }
  .col-30 {
    min-height: 1em;
    width: 100%;
    display: inline-block;
  }
  .col-35 {
    min-height: 1em;
    width: 100%;
    display: inline-block;
  }
  .col-40 {
    min-height: 1em;
    width: 100%;
    display: inline-block;
  }
  .col-47 {
    min-height: 1em;
    width: 100%;
    display: inline-block;
  }
  .col-50 {
    min-height: 1em;
    width: 100%;
    display: inline-block;
  }

  .col-55 {
    min-height: 1em;
    width: 100%;
    display: inline-block;
  }
  #picture{
    border-radius: 100px;
  }

  #danza{
    display: none;
  }

  #aiesec{
    display: none;
  }
  #curriculum{
    display: none;
  }
  #miPasion{
    display: none;
  }
  #galeria{
    display: none;
  }
  #sobreMi{
    display: block;
  }
  #contact{
    display: none;
  }
  #thankyou_message{
    display: none;
  }

  #email-invalid{
    display: none;
  }
  .about_me_picture{
    padding:10px;
    width: 100%;
    display: inline-block;
  }
  .black-font{
    color: black;
  }
  .container{
    padding-top: 200px;
  }
  .thumbnail {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px;
    line-height: 1;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  @media (min-width: 768px) {
    .thumbnail {
      display: inline-block;
      margin: 15px 15px 22px 22px;
      padding: 4px;
      line-height: 1;
      border: 1px solid #ddd;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
         -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .col-20 {
      min-height: 1em;
      width: 20%;
      display: inline-block;
    }
    .col-25 {
      min-height: 1em;
      width: 25%;
      display: inline-block;
    }
    .col-30 {
      min-height: 1em;
      width: 30%;
      display: inline-block;
    }
    .col-35 {
      min-height: 1em;
      width: 35%;
      display: inline-block;
    }
    .col-40 {
      min-height: 1em;
      width: 40%;
      display: inline-block;
    }
    .col-47 {
      min-height: 1em;
      width: 47%;
      display: inline-block;
    }
    .col-50 {
      min-height: 1em;
      width: 50%;
      display: inline-block;
    }

    .col-55 {
      min-height: 1em;
      width: 55%;
      display: inline-block;
    }
      header{
        height: 20px;
      }
      nav.header{
        height: 20px;
      }
      nav.section .element{
        display: inline-block;
        padding: 5px;
      }
      nav.header .element {
        display: inline-block;
        float: none;
        margin: 5px;
      }
      .container{
        padding-top: 100px;
      }

    }
    #gform {
        width: 500px;
        padding: 20px;
        position:relative;
        overflow:auto;
        color:#666;

        -webkit-border-radius: 60px 5px;
        -moz-border-radius: 60px/5px;
        border-radius: 60px/5px;
    }




    label {
        font-family: Arial, Verdana;
        color:#333;
        display: block;
        font-weight: bold;
        margin-right:10px;
        text-align: right;
        width: 120px;
        text-align:left;
        line-height: 25px;
        font-size: 12px;
    }

    .input{
        font-family: Arial, Verdana;
        font-size: 12px;
        padding: 5px;
        border: 1px solid #b9bdc1;
        width: 240px;
        color: #797979;
    }

    .input:focus{
        background-color:#f6f6f6;
    }

    .textarea {
        width:320px;height:120px;
        max-width:480px;
        background:transparent
    }

    span{
        display:none;
    }

    label:hover span{
        position: absolute;
        display: block;
        right:0;
        color: #fff;
        padding: 0px 10px;
        background:rgba(0,0,0,.6);
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 6px 0px 0px 6px;
        -moz-border-radius: 6px 0px 0px 6px;
        -webkit-border-radius: 6px 0px 0px 6px;
    }

    .button{display:inline-block;
        outline:none;
        cursor:pointer;
        text-align:center;
        text-decoration:none;
        font:13px/100% Arial,Helvetica,sans-serif;
        padding:7px 25px;
        text-shadow:0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        color:#fff;border:solid 1px rgba(0,0,0,.1);
        opacity:1;
        background-image:url(../img/button.png);
        background-position:bottom;
        background-repeat:repeat-x;background:#0af;
    }
    .button:hover{opacity:.9;text-decoration:none}
    .button:active{opacity:1;position:relative;top:1px}
    input.button{border-width:0;line-height:20px;padding:4px 20px}
